<div class="col-sm-12">
  <h1><%= @team.name %></h2>
  <p><%= @team.motto %></p>

  <h2> Heroes </h2>
  <h3><%= @team.super1.name %></h3>
  <p>Power: <%= @team.super1.power %></p>
  <p>Bio: <%= @team.super1.bio %></p>

  <% if @team.members.count > 1 %>
    <h3><%= @team.super2.name %></h3>
    <p>Power: <%= @team.super2.power %></p>
    <p>Bio: <%= @team.super2.bio %></p>
  <% end %>

  <% if @team.members.count > 2 %>
    <h3><%= @team.super3.name %></h3>
    <p>Power: <%= @team.super3.power %></p>
    <p>Bio: <%= @team.super3.bio %></p>
  <% end %>
</div>
